<div class="row justify-content-md-center profile-wrapper">
<div class="col-md-4 text-center"> 
<%# <%= image_tag @user.image , width: '152', height: '152', class: "round-img" %>
</div>
<div class="col-md-8" >
<div class="row">
<p class="username"><%= @user.name %></p>
<button class="btn btn-outline-dark common-btn edit-profile-btn">Edit Profile</button>
      
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="#exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<p class="email"><%= @user.email %></p>

</div>
</div>
</div> 
